// TODO: Switch images to fixed values instead of %

@parallax: 7;
@pre-scale: 1.2;
@post-scale: @pre-scale * 1;

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

body {
    background-color: #2c2456;
    color: white;
}

img {
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fraunces', serif;
    font-weight: 400;
    margin-bottom: 12px;
}

h1 {
    font-size: 3.6rem;
    text-align: center;
}

h2 {
    font-size: 2.4rem;
}

p {
    font-size: 1.4rem;
    line-height: 1.6;
    font-weight: 400;
}

.hr {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 24px;
}

.overlay {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
    transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 2;
    opacity: 1;

    &.hide {
        opacity: 0;
    }
}

main {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow: hidden;

    &.journey-begins {
        .bg-sky img {
            transform: scale(@post-scale) translateY(4px * @parallax);
        }

        .stars-5-xs img {
            transform: scale(@post-scale) translateY(8px * @parallax);
        }

        .stars-4-sm img {
            transform: scale(@post-scale) translateY(12px * @parallax);
        }

        .stars-3-md img {
            transform: scale(@post-scale) translateY(16px * @parallax);
        }

        .stars-2-lg img {
            transform: scale(@post-scale) translateY(20px * @parallax);
        }

        .stars-1-xl img {
            transform: scale(@post-scale) translateY(24px * @parallax);
        }

        .dragonfly-1 img {
            transform: translateY(45px * @parallax);
        }

        .star-cliff img {
            transform: translateY(60px * @parallax);
        }

        .butterfly img {
            transform: translateY((172px * 1.5) * @parallax);
        }

        .dragonfly-2 img {
            transform: translateY(132px * @parallax);
        }

        .stardust-title {
            z-index: 2;

            img,
            a {
                opacity: 1;
            }
        }

        .begin-the-journey-container {
            button {
                opacity: 0;
            }
        }
        // .flowers-left img {
        //     transform: translateX(-12px) translateY(132px * @parallax);
        // }

        // .flowers-right img {
        //     transform: translateX(15px) translateY(132px * @parallax);
        // }
    }
}

.bg-sky,
.begin-the-journey-container,
.bg-stars,
.stardust-title,
.star-cliff,
.butterfly,
.dragonfly-1,
.dragonfly-2,
.flowers-left,
.flowers-right {
    grid-column: ~'1 / -1';
    grid-row: ~'1 / -1';
    height: 100vh;
}

.bg-sky {
    z-index: -1;

    img {
        height: 100vh;
        object-fit: cover;
        object-position: bottom;
        transform: scale(@pre-scale) translateY(0);
        transform-origin: center;
        transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
    }
}

.bg-stars {
    transform: translateY(-75px);
    img {
        height: 100vh;
        object-fit: cover;
        object-position: top;
        transform: scale(@pre-scale) translateY(0);
        transform-origin: center;
        transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
        width: 100%;
    }
}

.dragonfly-1 {
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1;

    img {
        transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
        width: min(192px, 25%);
    }
}

.star-cliff {
    align-items: end;
    display: flex;
    z-index: 1;

    img {
        transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
        width: min(720px, 100%);
    }
}

.butterfly {
    justify-content: end;
    align-items: center;
    display: flex;
    z-index: 1;

    img {
        transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(172px);
        width: min(248px, 33%);
    }
}

.dragonfly-2 {
    display: flex;
    align-items: center;
    transform: translateY(96px);
    z-index: 1;

    img {
        transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1);
        width: min(192px, 33%);
    }
}

.stardust-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    img {
        transition-property: opacity, transform;
        transition-duration: 0.24s;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        transform: scale(1);
        width: 100%;

        &.title-img {
            transition-delay: 1s;
            transition-duration: 1s;
            width: min(920px, 100%);
        }
    }

    a {
        align-items: center;
        display: flex;
        justify-content: center;
        cursor: pointer;
        opacity: 0;
        transform: translateY(-4vw);
        transition: opacity 1s cubic-bezier(0.4, 0, 0.2, 1);
        transition-delay: 2s;
        width: min(320px, 50%);

        &:hover {
            img {
                transform: scale(1.05);
                transition-delay: 0;
            }
        }
    }
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
